{% load static %}
<html>
<head>
    <title>Website Nigga</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"  media="screen,projection"/> {% endcomment %}
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css'%}"  media="screen,projection"/>
  
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <!-- Navigation bar -->    
    <nav class="red">
    <div class="nav-wrapper">

        <div class="container">
            <a href="{% url 'network:homepage'%}" data-target="slide-out" class="brand-logo">PaariBOII!</a>
            <a href="#" data-target="slide-out" class="left sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a class="waves-effect" href="{% url 'network:profile_detail' user.profile.id %}">{{ user.username }}</a></li>
            <li><a class="waves-effect" href="#AboutPage">About</a></li>
            <li><a class="waves-effect" href="{% url 'network:logout'%}?next=/" on onclick="M.toast({html: 'logged out'})">Logout</a></li>
            {% else%}
            <li><a class="waves-effect" href="{% url 'network:register'%}">Register</a></li>
            <li><a class="waves-effect" href="{% url 'network:login'%}">Login</a></li>
            {% endif %}
        </ul>
    </div>
        <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{ user.profile.profile_cover.url }}">
      </div>
        {% if user.is_authenticated%}
      <a href="#user"><img class="circle" src="{{ user.profile.image.url }}"></a>
      <a href="#name"><span class="white-text name">{{ user.username }}</span></a>
      <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
    </div>
    </li>
    <li><a class="waves-effect" href="{% url 'network:post_create'%}"><i class="material-icons">add</i>Add Post</a></li>
    <li><a class="waves-effect" href="{% url 'network:profile_detail' user.profile.id %}"><i class="material-icons">person</i>Profile</a></li>
    <li><a class="waves-effect" href="{% url 'network:logout'%}?next=/"><i class="material-icons">exit_to_app</i> Logout</a></li>
      {% else%}
      <li><a class="waves-effect" href="{% url 'network:register'%}"><i class="material-icons">person_add</i>Register</a></li>
    <li><a class="waves-effect" href="{% url 'network:login'%}"><i class="material-icons">exit_to_app</i> Login</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Info</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">info</i>About Me</a></li>
       {% endif%}
</ul>
    </nav>
    <!--Navigation bar end-->


        {% block content %}
        {% endblock %}





    <!--scripts-->
    <script> https://code.jquery.com/jquery-3.3.1.min.js</script>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> {% endcomment %}
    <script type="text/javascript">
      M.AutoInit();
    </script>

</body>
</html>