{% extends "network/base.html"%}

{% block content %}
<div class ="container s12 m8 l6">
    <form method = "POST">
        {% csrf_token %}
        <fieldset>
             {{form}}
        </fieldset>
        <div class = "form-group">
            <button class="waves-effect waves-light btn-small"><i class="material-icons right">send</i>sign up</button>
        </div>
    </form>
</div>
    if you already have a account then login <a href ="{% url 'network:login'%}"><strong> here </strong></a>instead.
{% endblock%}